backcall==0.2.0
cffi==1.17.1
crcmod==1.7
decorator==5.2.1
getmac==0.9.5
grpcio==1.51.3
ipython==7.31.1
jedi==0.17.2
matplotlib-inline==0.1.7
-e git+https://github.com/mininet/mininet@6eb8973c0bfd13c25c244a3871130c5e36b5fbd7#egg=mininet
netifaces==0.11.0
nnpy==1.4.2
numpy==1.24.4
p4runtime-shell==0.0.3.post21+g7374d7c.d20250710
pandas==2.0.3
parso==0.7.1
pexpect==4.9.0
pickleshare==0.7.5
ply==3.11
prompt-toolkit==3.0.51
protobuf==3.20.3
psutil==7.0.0
ptf==0.10.0.post16+g6af7508
ptyprocess==0.7.0
pycparser==2.22
pygments==2.19.2
pyperclip==1.8.2
python-dateutil==2.9.0.post0
pytz==2025.2
scapy==2.5.0
scapy-helper==0.14.8
six==1.17.0
tabulate==0.8.10
tqdm==4.67.1
traitlets==5.14.3
tzdata==2025.2
wcwidth==0.2.13
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
scikit-learn==1.7.0
